/*Auth Container start */

.auth-page {
    height: 100vh;
    display: flex;
    overflow-x: hidden;
  }
  
  .auth-container {
    width: 560px;
    margin: auto;
    font-family: "Lexend", sans-serif;
  
    /* Form wrapper start */
  
    .form-wrapper {
      background-color: $ot-bg-secondary !important;
  
      .form-container {
        width: 360px;
      }
  
      /* Form Logo start */
      .form-logo {
        img {
          width: 154px;
          height: 38px;
  
          &.dark-logo {
            display: none;
          }
        }
      }
      /* Form Logo end */
  
      /* Form heading start */
  
      .form-heading {
        .title {
          font-weight: 700;
          font-size: 24px;
          line-height: 30px;
          color: $ot-text-title;
        }
  
        .subtitle {
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: $ot-text-primary;
        }
      }
  
      /* Form heading end */
  
      /* Social Login start */
  
      .social-login {
        width: 100%;
  
        .social-login-item {
          border: 1px solid #eaeaea;
          border-radius: 7px;
          a {
            width: 100%;
            height: 100%;
            padding: 17px 38px;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: $ot-text-title;
            text-decoration: none;
          }
  
          &.facebook-login {
            background-color: #395799;
            a {
              color: #fff;
            }
          }
  
          &:hover {
            box-shadow: 0px 0px 10px rgba(10, 175, 255, 0.35);
            border: 1px solid #0010f7;
            outline: none;
          }
        }
      }
  
      /* Social Login end */
  
      /* Text Devider start */
  
      .login-with-divider-text {
        font-weight: 600;
        font-size: 10px;
        line-height: 14px;
        color: $ot-text-primary;
        margin-bottom: 0;
      }
  
      /* Text Devider End */
  
      /* Form start */
  
      .auth-form {
        /* Form label start */
        width: 360px;
        label {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: $ot-text-title;
          margin-bottom: 8px;
        }
  
        /* Form label End */
  
        .input-field-group {
          width: 100%;
          line-height: 0;
        }
  
        /* Form Input start */
  
        input[type="text"],
        input[type="password"],
        input[type="date"],
        select,
        input[type="email"] {
          width: 100%;
          font-size: 14px;
          font-weight: 400;
          padding: 16px 12px !important;
          background: #ffffff;
          border: 1px solid #eaeaea;
          border-radius: 5px;
          padding-left: 36px !important;
          color: $ot-text-title;
  
          &::placeholder {
            color: #b2bec3;
          }
  
          &:focus-visible {
            box-shadow: 0px 0px 10px rgba(10, 175, 255, 0.35);
            border: 1px solid #0010f7;
            outline: none;
          }
        }
  
        /* Form Input end */
  
        /* Input field with logo start */
  
        .custom-input-field {
          width: 100%;
          position: relative;
          img {
            position: absolute;
            left: 14px;
            top: 50%;
            transform: translateY(-50%);
          }
  
          i {
            position: absolute;
            right: 16px;
            transform: translateY(-50%);
            top: 50%;
            color: $ot-text-primary;
            font-size: 18px;
            cursor: pointer;
          }
        }
  
        /* Input field with logo end */
  
        /* input field start */
  
        .input-error {
          font-weight: 400;
          font-size: 10px;
          line-height: 14px;
          margin-bottom: 0;
  
          &.error-danger {
            color: #ff6a54;
          }
          &.error-warning {
            color: #ff991a;
          }
        }
  
        /* input field end */
  
        /* Remember me / forget password start */
  
        .remember-me {
          label {
            margin-left: 8px;
            margin-bottom: 0;
            color: $ot-text-title !important;
          }
        }
  
        .forgot-password,
        .remember-me label {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: $ot-text-primary;
        }
        /* Remember me / forget password end */
  
        /* Submit btn start */
  
        .submit-btn {
          width: 100%;
          background: linear-gradient(90deg, #0f6aff 0%, #087c7c 100%);
          border-radius: 5px;
          color: white;
          font-size: 14px;
          font-weight: 600;
          &:hover {
            background: #087c7c;
          }
        }
      }
  
      /* Submit btn end */
  
      /* Form start */
  
      /* Authenticate now start */
  
      .authenticate-now {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: $ot-text-primary;
  
        a {
          background: linear-gradient(90deg, #0f6aff 0%, #087c7c 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          &:hover {
            background: #087c7c;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
  
      /* Authenticate now end */
  
      .privacy-policy-navigation {
        a,
        span {
          font-weight: 500;
          font-size: 12px;
          line-height: 21px;
          color: $ot-text-primary;
        }
  
        span {
          font-size: 16px;
        }
      }
    }
  
    /* Form wrapper end */
  }
  
  .rtl {
    .auth-container {
      .form-wrapper {
        input[type="text"],
        input[type="password"],
        input[type="date"],
        select,
        input[type="email"] {
          padding-right: 36px !important;
          padding-left: initial !important;
        }
      }
    }
  }
  
  .rtl {
    .custom-input-field {
      img {
        right: 14px;
        left: auto !important;
      }
  
      i {
        left: 16px;
        right: auto !important;
      }
    }
  }
  
  // dark theme logo
  
  .dark-theme {
    .form-logo {
      .default-logo {
        display: none;
      }
  
      .dark-logo {
        display: block !important;
      }
    }
  }
  /*Auth Container end */
  
  // @break-sm: 576px; // Small Devices, Tablets
  // @break-md: 768px; // Medium Devices, Desktops
  
  // responsive style medium devices start
  
  @include devices(md) {
    .auth-container{
      width: 480px;
    }
    .form-wrapper {
      padding: 40px 50px !important;
    }
    .form-container,
    .auth-form {
      width: 320px !important;
    }
  }
  
  @include devices(sm) {
    .auth-container{
      width: 340px;
    }
    .form-wrapper {
      padding: 30px 40px !important;
    }
    .form-container,
    .auth-form {
      width: 300px !important;
    }
  }
  
  @include devices(xs) {
    .auth-container{
      width: 320px;
    }
    .form-wrapper {
      padding: 40px 20px !important;
    }
    .form-container,
    .auth-form {
      width: 280px !important;
    }
  
    .social-login {
      span {
        font-size: 10px;
      }
    }
  }
  