// Error content height-width
.error-wrapper {
  width: 100%;
  height: 100vh;
  // Error content items width
  .error-content {
    width: 486px;
    h1 {
      font-family: "Lexend";
      font-weight: 600;
      font-size: 42px;
      margin-bottom: 0px;
    }
    // Error content image width
    img {
      width: 100%;
    }
    p {
      font-family: "Lexend";
      font-weight: 500;
      margin-bottom: 0px;
      color: #6f767e;
    }
    .btn-group {
      margin-top: 28px;
      gap: 12px;
      .time-count {
        padding: 2px;
        border-radius: 12px;
        background: linear-gradient(90deg, #0f6aff 0%, #087c7c 100%);
        .count-btn {
          padding: 16px 13px;
          border-radius: 10px;
          background: #ffffff;
          h1 {
            font-family: "Lexend";
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            background: linear-gradient(90deg, #0f6aff 0%, #087c7c 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }
}

// Back to homepage button
.btn-back-to-homepage {
  width: 215px;
}
