.input-check-radio {
  .form-check {
    .form-check-input {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid $ot-border-table-checkbox;
      background-color: $ot-bg-table-checkbox;
      &:focus {
        box-shadow: none;
      }
      &:checked {
        background: url("../images/basic-datatable/check/ok.svg"),
          linear-gradient(90deg, #0f6aff 0%, #087c7c 100%);
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}
.bootstrap-tagsinput{
   span.badge.input-bg-primary {
    background: linear-gradient(90deg, #0f6aff 0%, #087c7c 100%);
  } 
} 