
.single-feature{
    padding: 26px 21px;
    @include transition(.3s);
    border-radius: 8px;
    margin: 4px 0px;
    display:block;
    background: var(--section-bg-one);
    cursor: pointer;
    border: 1px solid #E7E7E7;
    padding-bottom: 20px;
    @media #{$xs}{
        @include flex-wrap(wrap);
    }
    .color-line{
        clip-path: polygon(94.67% 17.75%, 0px 3%, -4px 38.00%);
        width: 70%;
        height: 21px;
    }
    .sticker{
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        padding: 2px 9px;
        border-radius: 4px;
        position: relative;
        z-index: 0;
        &::before {
            position: absolute;
            content: " ";
            transform: skew(-14deg);
            // background-color: #4F4DEF;
            width: 100%;
            height: 100%;
            z-index: -1;
            left: 0;
            top: 0;
            border-radius: 4px;
        }
    }
    .cat-caption{
        .title{
            font-size: 24px;
            text-transform: capitalize;
            margin-bottom: 24px;
            @media #{$xs}{
                font-size: 18px;
            }
        }
        .pear{
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 0px;
            line-height: 1.5;
        }
    }
    &:hover{
        cursor: pointer;
    }
}

// feature card color & background Make

.feature-color-one{
    .color-line{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,5b58ff+0,5b58ff+100,7db9e8+100&1+0,0+100 */
        background: -moz-linear-gradient(left,  rgba(91,88,255,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(91,88,255,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(91,88,255,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b58ff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
        
    }
    .sticker{
        &::before {
            background-color: #4F4DEF;
        }
    }
    &:hover{
        border-color: #4F4DEF;
    }

}
.feature-color-two{
    
    .color-line{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,ef3220+0,ef3220+100,7db9e8+100&1+0,0+100 */
        background: -moz-linear-gradient(left,  rgba(239,50,32,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(239,50,32,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(239,50,32,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef3220', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */

    }
    .sticker{
        &::before {
            background-color: #EF3220;
        }
    }
    &:hover{
        border-color:#EF3220;
    }
}
.feature-color-three{
   
    .color-line{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,20ef35+0,20ef35+100,7db9e8+100&1+0,0+100 */
        background: -moz-linear-gradient(left,  rgba(32,239,53,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(32,239,53,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(32,239,53,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20ef35', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */

    }
    .sticker{
        &::before {
            background-color: #09DC1E;
        }
    }
    &:hover{
        border-color: #09DC1E;
    }
}
.feature-color-four{
   
    .color-line{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,001aff+0,001aff+100,7db9e8+100&1+0,0+100 */
        background: -moz-linear-gradient(left,  rgba(0,26,255,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(0,26,255,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(0,26,255,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001aff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */

    }
    .sticker{
        &::before {
            background-color: #021BFF;
        }
    }
    &:hover{
        border-color: #021BFF;
    }
}
.feature-color-five{
   
    .color-line{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,0bdfc6+0,0bdfc6+100,7db9e8+100&1+0,0+100 */
        background: -moz-linear-gradient(left,  rgba(11,223,198,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(11,223,198,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(11,223,198,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0bdfc6', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
    }
    .sticker{
        &::before {
            background-color: #0BDFC6;
        }
    }
    &:hover{
        border-color: #0BDFC6;
    }
}
.feature-color-six{
    
    .color-line{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,eb20ef+0,eb20ef+100,7db9e8+100&1+0,0+100 */
        background: -moz-linear-gradient(left,  rgba(235,32,239,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(235,32,239,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(235,32,239,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb20ef', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */

    }
    .sticker{
        &::before {
            background-color: #EB20EF;
        }
    }
    &:hover{
        border-color: #EB20EF;
    }
}
.feature-color-seven{
    
    .color-line{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,ff9900+0,ff9900+100,7db9e8+100&1+0,0+100 */
        background: -moz-linear-gradient(left,  rgba(255,153,0,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(255,153,0,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(255,153,0,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */

    }
    .sticker{
        &::before {
            background-color: #FF9900;
        }
    }
    &:hover{
        border-color: #FF9900;
    }
}
// End-fo color make

// Child wise color call
.feature-area{

    .col-xl-6:nth-child(1) .single-feature, .col-xl-3:nth-child(1) .single-feature{
        @extend .feature-color-one;
    }
    .col-xl-6:nth-child(2) .single-feature, .col-xl-3:nth-child(2) .single-feature{
        @extend .feature-color-two;
    }
    .col-xl-6:nth-child(3) .single-feature, .col-xl-3:nth-child(3) .single-feature{
        @extend .feature-color-three;
    }
    .col-xl-6:nth-child(4) .single-feature, .col-xl-3:nth-child(4) .single-feature{
        @extend .feature-color-four;
    }
    .col-xl-6:nth-child(5) .single-feature, .col-xl-3:nth-child(5) .single-feature{
        @extend .feature-color-five;
    }
    .col-xl-6:nth-child(6) .single-feature, .col-xl-3:nth-child(6) .single-feature{
        @extend .feature-color-six;
    }
    .col-xl-6:nth-child(7) .single-feature, .col-xl-3:nth-child(7) .single-feature{
        @extend .feature-color-seven;
    }
    .col-xl-6:nth-child(8) .single-feature, .col-xl-3:nth-child(8) .single-feature{
        @extend .feature-color-five;
    }
    .col-xl-6:nth-child(9).single-feature, .col-xl-3:nth-child(9) .single-feature{
        @extend .feature-color-three;
    }
    .col-xl-6:nth-child(10) .single-feature, .col-xl-3:nth-child(10) .single-feature{
        @extend .feature-color-four;
    }
    .col-xl-6:nth-child(11) .single-feature, .col-xl-3:nth-child(11) .single-feature{
        @extend .feature-color-two;
    }
    .col-xl-6:nth-child(12) .single-feature, .col-xl-3:nth-child(12) .single-feature{
        @extend .feature-color-seven;
    }
}
