.single-team {
    text-align: center;
    background: var(--section-bg-two);

    .team-image {
        width: 100%;
        border-radius: 10px 10px 0 0;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        min-height: 200px;
        width: 100%;
        overflow: hidden;
        img{
          width: 100%;
        }

    }
    .team-name {
        text-transform: capitalize;
        color: var(--ot-primary-title);
        font-size: 24px;
        margin-bottom: 3px;
    }
    .team-position {
        font-size: 16px;
        text-transform: capitalize;
        color: var(--ot-primary-paragraph);
        margin-bottom: 6px;
    }
    .team-info {
        p {
            font-size: 14px;
            color: var(--ot-primary-paragraph);
            display: flex;
            justify-content: center;
            gap: 5px;
  
        }
    }
  }

