.status-ticket{
    .open{
        padding: 3px 11px;
        color: #fff;
        background-color: #2dce89;
        border-radius: 14px;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 1;
    }
    .time{
        @extend .open;
        background: none;
        color: var(--ot-primary-paragraph);
        border: 1px solid var(--ot-primary-border);
    }
}



.ticket-open-user{
    .profile-image {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        background: gray;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        margin-bottom: 10px;
    }
    .profile-name {
        text-transform: capitalize;
        color: var(--ot-primary-title);
        font-size: 20px;
        margin-bottom: 3px;
    }
    .profile-user-name {
        font-size: 14px;
        color: var(--ot-primary-paragraph);
        margin-bottom: 10px;
    }
    .profile-info {
        p {
            font-size: 14px;
            color: var(--ot-primary-paragraph);
            display: flex;
            justify-content: center;
            gap: 5px;
  
        }
    }
}

.border{
    border: 1px solid var(--ot-secondary-border);
}


.panel-product{

    .single-doc-intro:hover {
        background: var(--section-bg-three) !important;
    }
}



.listing-custom{
    li{
        margin-left: 30px;
        -webkit-text-decoration: dashed;
        text-decoration: dashed;
        list-style: disc;
    }

}

.sticker{
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    padding: 2px 9px;
    border-radius: 4px;
    position: relative;
    z-index: 0;
    &::before {
        background: #09DC1E;
        position: absolute;
        content: " ";
        -webkit-transform: skew(-14deg);
        transform: skew(-14deg);
        width: 100%;
        height: 100%;
        z-index: -1;
        left: 0;
        top: 0;
        border-radius: 4px;

      }
}