// About 01
.about-caption{
    .small-title{
        font-size: 20px;
        margin-bottom: 20px;
        line-height: 1.6;
        @media #{$xs}{
            font-size: 18px;
        }
    }

    .about-info{
        // display: flex;
        // align-items: center;
        // flex-wrap: wrap;
        // gap: 20px;
        .single-list{
            color: var(--ot-primary-paragraph);
            display: flex;
            align-items: center;
            gap: 11px;
            font-size: 16px;
            font-family: var(--Inter);
            font-weight: 500;
            margin-bottom: 17px;
            i{
                color: var(--ot-primary-title);
                font-size: 23px;
            }
            & > .pera{
                margin: 0 !important;
                
            }
        }
    }
}
