.contact-icon {
    min-width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      color: var(--ot-primary);
      font-size: 20px;
    }
}
.contact-padding {
    padding: 65px 65px;
    @media #{$xs}{
      padding: 20px 20px;
    }
    @media #{$sm}{
      padding: 35px 30px;
    }
}


.from-wraps {
    @media #{$xs}{
        padding: 20px 15px !important;
    }
}
.gutter-x-80{
    --bs-gutter-x: 80px;
    @media #{$xl}{
      --bs-gutter-x: 50px;
    }
}
.gutter-x-80>*{
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}
.social-link-card {
    padding: 32px 53px;
    background: #f8f9fc;
    border: 1px solid var(--ot-secondary-border);
    border-radius: 8px;
    margin-bottom: 20px;
    display: block;
    &:hover {
        box-shadow: 0px 3.30295px 49.5443px rgba(0, 0, 0, 0.08);
    }
    &:hover .social-icon{
      background: rgba(76, 64, 247, 1);
      color: var(--white);
    }
    &:hover i{
      color: var(--white);
    }
    &:hover p{
        color: #111029;;
    }
}
.social-icon {
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgba(76, 64, 247, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: 20px;
      color: var(--ot-primary);
    }
}

.social-link-body p {
    font-family: var(--Inter);
    color: #6b6b6b;
    font-weight: 400;
    font-size: 18px;
}

.ot-contact-form {
    .select2-container--default .select2-selection--single {
        background: var(--white) !important;
        border: 1px solid var(--ot-secondary-border) !important;
    }

    .ot-contact-input {
        color: var(--ot-primary-title);
        height: 49px;
        width: 100%;
        font-size: 16px;
        padding: 11px 14px 11px 14px;
        position: relative;
        border-radius: 8px;
        background: var(--white);
        border: 1px solid var(--ot-secondary-border);
        text-transform: none;
        &::placeholder {
          font-size: 16px;
          font-weight: 400;
          color: #999999;
          text-transform: none;
        }
    }
    .form-control.ot-contact-input:focus {
        border: 1px solid var(--ot-secondary-border);
    }
    .icon {
        position: absolute;
        top: 15px;
        right: 20px;
        color: #b1b5c3;
        font-size: 20px;
    }
    .ot-contact-textarea {
        color: var(--ot-primary-paragraph);
        width: 100%;
        font-size: 16px;
        padding: 15px 14px;
        position: relative;
        border-radius: 8px;
        background: none;
        border: 1px solid var(--ot-secondary-border);
        background: var(--white);
        &::placeholder {
          font-size: 16px;
          font-weight: 400;
          color: var(--ot-primary-paragraph)
        }
    }
  .ot-contact-label {
      font-weight: 600;
      font-size: 16px;
      text-transform: capitalize;
      color: var(--ot-primary-title);
      margin-bottom: 8px;
      i{
          position: relative;
          top: 4px;
      }
  }
}
.form-icon{
    top: 90px;
    left: -220px;
    @media #{ $xs-to-lg-max}{
        display: none;
    }
    iframe {
      width: 100% !important;
      height: 370px;
      border: 0;
      margin-bottom: 10;
      border-radius: 8px;
    }
}



.remember-me {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    label {
        display: flex;
        align-items: center;
        padding-left: 25px;
        position: relative;
        cursor: pointer;
        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: var(--ot-primary-title);
            margin-left: 8px;
        }
    }
  .ot-checkbox {
      margin-right: 10px;
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked ~ .ot-checkmark {
          background-color: var(--ot-primary);
          border-color: var(--ot-primary);
          &::after {
            display: block;
          }
      }
  }
  .ot-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    line-height: 17px;
    border: 1.5px solid #b1b5c4;
    margin-right: 13px;
    border-radius: 3px;
    &::after {
        // content: "\eb7b";
        content: "\eb7b";
        font-family: var(--remix-icon);
        color: #fff;
        position: absolute;
        left: 0;
        top: 0px;
        display: none;
        right: 0;
        margin: 0 auto;
        text-align: center;
        font-size: 13px;
    }
  }
  .forget-section {
      span {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: right;
        letter-spacing: 0.5px;
        color: var(--ot-tertiary);
      }
  }
}

