.single-product .product-img img {
    max-height: 213px;
    min-height: 213px;
}
.tab-pane .single-product .product-img img {
    max-height: 280px;
    min-height: 280px;
}
.slider-product-features .single img {
    max-height: 300px;
    min-height: 300px;
}
.single-team .team-image img {
    max-height: 230px;
    min-height: 230px;
}
.slider-screen-active .single-screen img {
    max-height: 395px;
    min-height: 395px;
}
.two-badge {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    gap: 6px;
}
.badges {
    position: unset;
}

.single-technology {
    min-height: 95px;
    max-height: 95px;
}

.single-technology img {
    object-fit: fill;
    max-height: 60px;
    min-height: 60px;
}
.product-categories-two .singleCategory img {
    min-height: 60px;
    max-height: 60px;
    max-width: 60px;
    padding: 10px;
}
.product-info .two-badge {
    position: unset;
}

.swal2-popup .swal2-header .swal2-icon.swal2-warning{
    font-size: 1em !important;
}

.lan-single-card-2{
    position: relative;
}
.about-area img {
    min-height: 390px;
    max-height: 400px;
}
.logo-large img {
    max-width: 175px;
    max-height: 56px;
}
.header-top{
    background: var(--ot-primary);
}
.hero-caption .pera {
    display: inherit !important;
}
.hero-caption .pera {
    display: -webkit-inline-box !important;
}
.hero-padding {
    padding: 100px 0 !important;
}

.fixed-height {
    height: 90vh;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background: var(--ot-primary);
}
.nav-pills .nav-link{
    color: var(--ot-primary);
}


/*Rounded button*/
.btn-rounded{
    height: 35px;
    width: 35px;
    border-radius: 50px;
    text-align: center;
    padding: 6px;
}
.lan-single-card-2 {
    padding: 62px 30px;
}

.first-letter-icon:hover {
    transform: rotateY(360deg);
}

.ot-contact-form .ot-contact-input{
    border: 1px solid #72727270;
}
.ot-contact-form .select2-container--default .select2-selection--single {
    border: 1px solid #72727270 !important;
}





/*Team style*/

.team-style-seven .single-team {
    -webkit-box-shadow: 0px 9px 8px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 9px 8px rgba(0, 0, 0, 0.04);
    background-position: top left;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 20px;
}
.team-style-seven .single-team::after {
    -webkit-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0px;
    background: rgba(56, 71, 90, 0.7);
    height: 34%;
    width: 100%;
}
.team-style-seven .single-team::before {
    -webkit-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--white);
    height: 66%;
    width: 100%;
    z-index: -2;
}
.team-style-seven .single-team .team-img {
    margin: 20px;
    position: relative;
    margin-bottom: 10px;
    margin-top: 0;
}
.team-style-seven .single-team .team-img::before {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    position: absolute;
    content: "";
    left: 9px;
    bottom: 9px;
    right: 9px;
    top: 9px;
    background: rgba(21, 24, 28, 0.6);
    opacity: 0;
    visibility: hidden;
    z-index: 2;
}
.team-style-seven .single-team .team-img img {
    width: 100%;
    position: relative;
    z-index: 1;
}
.team-style-seven .single-team .team-caption .title {
    color: var(--ot-primary);
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 3px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .team-style-seven .single-team .team-caption .title {
        font-size: 18px;
    }
}
.team-style-seven .single-team .team-caption .title:hover {
    color: var(--ot-primary);
}
.team-style-seven .single-team .team-caption .pera {
    font-size: 15px;
    color: var(--ot-primary);
    padding-bottom: 32px;
}
.team-style-seven .single-team:hover::after {
    background: rgba(8, 124, 124, 0.58);
}
.team-style-seven .single-team:hover .team-img::before {
    opacity: 1;
    visibility: visible;
}
.team-style-seven .single-team:hover .team-img .team-social a {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}
.team-style-seven .team-social {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 5;
}
.team-style-seven .team-social .single-list {
    display: inline-block;
}
.team-style-seven .team-social .single-list a {
    background: var(--primary);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    color: var(--white);
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    margin-left: 8px;
    display: inline-block;
    border-radius: 4px;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
}
.team-style-seven .team-social .single-list a i {
    display: inline-block;
}
.team-style-seven .team-social .single-list a:hover {
    color: var(--white);
    background: var(--primary);
}
.team-style-seven .team-social .single-list:nth-child(1) a {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.team-style-seven .team-social .single-list:nth-child(2) a {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.team-style-seven .team-social .single-list:nth-child(3) a {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.team-style-seven .team-social .single-list:nth-child(4) a {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}




section.team-four {
    background: #f8f9fa;
}
.team-four .team-img img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}


.property_wrapper.form_active .form_property{
    display: none;
}

.property_wrapper .form_tanent{
    display: none;
}

.property_wrapper.form_active .form_tanent{
    display: block;
}

.lef.type {
    width: 160px;
}

.dark-mode p {
    color: var(--ot-primary-title) !important;
}
.dark-mode p span {
    color: var(--ot-primary-title) !important;
}
.dark-mode span {
    color: var(--ot-primary-title) !important;
}
.dark-mode strong {
    color: var(--ot-primary-title) !important;
}
.dark-mode small {
    color: var(--ot-primary-title) !important;
}


[data-theme=dark-mode] span {
    color: var(--ot-primary-paragraph) !important;
}
[data-theme=dark-mode] p span {
    color: var(--ot-primary-paragraph) !important;
}
[data-theme=dark-mode] p {
    color: var(--ot-primary-paragraph) !important;
}
[data-theme=dark-mode] h1, [data-theme=dark-mode] h2, [data-theme=dark-mode] h3, [data-theme=dark-mode] h4, [data-theme=dark-mode] h5, [data-theme=dark-mode] h6,
[data-theme=dark-mode] h1 span, [data-theme=dark-mode] h2 span, [data-theme=dark-mode] h3 span, [data-theme=dark-mode] h4 span, [data-theme=dark-mode] h5 span, [data-theme=dark-mode] h6 span {
    color: var(--ot-primary-title) !important;
}
