.ot-checkout-area {
  .billing-info {
      .heading {
          h4{
            font-weight: 600;
            font-size: 28px;
            line-height: 52px;
            color: var(--ot-primary-subtitle);
            text-transform: capitalize;
            margin-bottom: 24px;
          }
      }

    .select-country {
      .title-section {
        margin-bottom: 16px;
        .title {
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
          color: var(--ot-primary-subtitle);
        }
        .mini-title {
          font-weight: 400;
          font-size: 14px;
          line-height: 26px;
          color: var(--ot-tertiary);
        }
      }
      .short-desc {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        color: var(--ot-primary-title);
      }
    }
    .payment-select {
        border: 1px solid #eaeaea;
        height: 50px;
        border-radius: 6px;
        color: var(--ot-primary-subtitle);
        margin-bottom: 20px;
    }
    .payment-system {
        margin-top: 24px;
    }
    .payment-content {
        margin-left: 16px;
    }
    .payment-accordion {
      margin-bottom: 24px;
      border-bottom: 0px;
      .accordion-header {
          background: var(--white);
          border: 1px solid var(--ot-primary-border);
          border-radius: 6px;
          cursor: pointer;
      }
      .accordion-button {
        padding: 16px;
        &:focus {
           box-shadow: none;
        }
        &::after {
          border-bottom: 2px solid #999;
          border-right: 2px solid #999;
          content: '';
          display: block;
          height: 7px;
          margin-top: -4px;
          pointer-events: none;
          position: absolute;
          right: 22px;
          top: 50%;
          -webkit-transform-origin: 66% 66%;
          -ms-transform-origin: 66% 66%;
          transform-origin: 66% 66%;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          -webkit-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
          width: 7px;
          background-image: none;
        }
        &:not(.collapsed) {
            background-color: #f9f9f9;
            box-shadow: none;
            padding: 16px;
            border-radius: 6px;
            &::after {
              transform: rotate(-135deg);
            }
        }
        .payment-content {
            .payment-title p {
                font-weight: 700;
                font-size: 14px;
                line-height: 19px;
                color: var(--ot-primary-title);
                margin-bottom: 4px;
            }
            .payment-subtitle p {
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.0125em;
                color: var(--ot-primary-paragraph);
            }
          }
      }

      .collapsed {
          border-radius: 6px;
          padding: 16px;
          background: var(--white);
      }
      .accordion-collapse {
          margin-top: 16px;
          border: 1px solid var(--ot-primary-border);
          border-radius: 6px;
      }
      .ot-payment-form {
        margin-bottom: 16px;
        .ot-payment-label {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.7;
            color: var(--ot-tertiary-title);
            margin-bottom: 4px;
        }
        .ot-payment-input {
            height: 50px;
            background: none;
            border: 1px solid var(--ot-primary-border);
            border-radius: 6px;
            color: var(--ot-primary-title);
            padding: 13px;
            width: 100%;

          &::placeholder {
              font-weight: 400;
              font-size: 14px;
              line-height: 1.7;
              color: var(--ot-primary-title);
          }
        }
      }
    }
  }
  .ot-payment-checkbox-label {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: var(--ot-primary-subtitle);
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      padding-left: 25px;
      position: relative;
      cursor: pointer;
      line-height: 1;
      @media #{$xs}{
         font-size: 12px;
      }
  }
  .ot-payment-checkbox {
      margin-right: 10px;
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked ~ .payment-checkmark {
          background-color: var(--ot-primary);
          border-color: var(--ot-primary);
          &::after {
            display: block;
          }
      }
  }
  
  .payment-checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 50%;
    border: 1px solid var(--ot-primary-border);
    margin-right: 10px;
    &::after {
        // content: url('../images/courses/tick.png');
        position: absolute;
        left: 4px;
        top: -2px;
        display: none;
    }
}


  .summary-card {
    background: var(--white);
    padding: 24px 34px 24px 34px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(221, 221, 221, 0.5);
    @media #{$xs}{
        padding: 20px 30px;
    }
    
    @media #{$xs}{
        padding: 20px 30px;
    }

    .summary-heading {
      h4 {
        font-weight: 600;
        font-size: 28px;
        line-height: 52px;
        color: var(--ot-primary-subtitle);
        margin-bottom:20px;
        @media #{$xs}{
            font-size: 24px;
            margin-bottom: 30px;
        }
      }
    }
    .summary-price-section {
      padding-bottom: 8px;
      border-bottom: 1px solid var(--ot-primary-border);
      margin-bottom: 12px;
      @media #{$xs}{
        padding-bottom: 0;
    }
    }
    .summary-price {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
      @media #{$xs}{
        margin-bottom: 20px;
    }
      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: var(--ot-primary-title);
        @media #{$xs}{
            font-size: 14px;
        }
      }
    }
    .final-price {
      display: flex;
      justify-content: space-between;
      margin-bottom: 32px;
      @media #{$xs}{
        margin-bottom: 20px;
    }
      p {
        font-size: 18px;
        line-height: 26px;
        color: var(--ot-primary-title);
        @media #{$xs}{
            font-size: 14px;
        }
      }
    }
    .summary-checklist {
      margin-bottom: 40px;
      @media #{$xs}{
        margin-bottom: 20px;
    }
    }
    .guarantee-text {
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: var(--ot-primary-subtitle);
        text-align: center;
        margin-bottom: 16px;
        @media #{$xs}{
           font-size: 12px;
        }
      }
    }
  }
}




// Payment methods
.payment-gateway-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px;
    .single-gateway-item {
        display: inline-block;
        position: relative;
        padding: 10px 19px;
        height: 50px;
        border: 1px solid var(--ot-primary-border);
        border-radius: 6px;
        cursor: pointer;

        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;

        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            border: 1px solid transparent;
            border-radius: 6px;
        }
        &::after {
            position: absolute;
            right: -8px;
            top: -10px;
            width: 17px;
            height: 17px;
            line-height: 17px;
            background-color: transparent;
            border-radius: 50%;
            background-color: var(--ot-primary);
            color: #fff;
            -webkit-transition: 0.4s;
            transition: 0.4s;
            font-size: 10px;
            text-align: center;
            margin: 0 auto;
            z-index: 9;
        }
        &.selected {
            position: relative;
            background: rgba(var(--ot-primary-rgb), 0.05);
            &::before {
                content: "";
                border: 1px solid var(--ot-primary);
            }
            &::after {
                content: "\eb7b";
                font-weight: 900;
                font-family: var(--remix-icon);
            }
        }
        img {
            padding: 9px 20px;
            margin-right: 12px;
            display: block;
            text-align: center;
            width: 100%;
            height: 100%;
        }
    }
  }

// check mark
.donation-payment{
  .remember-me {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  label {
      display: flex;
      align-items: center;
      padding-left: 25px;
      position: relative;
      cursor: pointer;
      small {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: var(--ot-primary-title);
          margin-left: 8px;
      }
  }
  .ot-checkbox {
      margin-right: 10px;
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked ~ .ot-checkmark {
          background-color: var(--ot-primary);
          border-color: var(--ot-primary);
          &::after {
              display: block;
          }
      }
  }
  .ot-checkmark {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      line-height: 20px;
      border: 1.5px solid #b1b5c4;
      margin-right: 12px;
      border-radius: 4px;
      &::after {
      content: url("../images/courses/tick.png");
      position: absolute;
      left: 0;
      top: -2px;
      display: none;
      right: 0;
      margin: 0 auto;
      text-align: center;
      }
  }
  .forget-section {
      span {
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          text-align: right;
          letter-spacing: 0.5px;
          color: var(--ot-primary);
      }
  }
  }
}




.gutter-x-55{
    --bs-gutter-x: 55px;
    @media #{ $xs-to-xl-max}{
        --bs-gutter-x: 30px;
    }
}



.paymentDetails {
  padding: 34px 34px 34px 34px;
    .price {
        color: var(--ot-primary-title);
        font-size: 26px;
        font-weight: 800;
        position: relative;
        display: inline-block;
        margin-bottom: 0px;
        .month {
          color: var(--ot-primary-title);
          font-size: 16px;
          display: inline-block;
          font-weight: 400;
          text-transform: capitalize;
        }
    }
    
    .priceTittle{
        color: var(--ot-primary-title);
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
    } 
}

.btn-color2{
  background: #0E0B33;
}



// Billing Summar
.priceListing {
    .listing {
        .listItem {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
        
          border-bottom: 1px solid var(--ot-primary-border);
          padding-top: 8px;
          p{
            margin-bottom: 8px;
            text-transform: capitalize;
            
          }
        }
        .listItem:last-child{
          border-bottom: 0;
        }
    }

    .info {
      padding: 10px 20px;
      border-radius: 20px;
      background: rgba(65, 172, 89, .1);
      .pera{
        color: #2D9B45;
        margin: 0;
        font-size: 16px;
      }
      
    }

}
