.profile-account-area{
    @media #{$xs-to-md-max}{
        padding: 30px 0;
    }
}


.user-profile-empty-data{

    padding-top: 20px;
    padding-bottom: 20px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    text-align: center;

    .error-img{
       max-width: 254px; 
    }
    .title{
        font-size: 24px;
    }
    .pera{
        font-size: 18px;
    }
    // .btn-primary-fill {
    //     border-color: var(--ot-secondary-border);
    // }
}
