

.single-support{
    padding: 36px 20px;
    @include transition(.3s);
    border-radius: 8px;
    background-color: #F9F9F9;
    border: 1px solid #EEEEEE;
    @media #{$xs}{
        padding: 20px 20px;
    } 
    .icon{
        transition: .4s;
        min-width: 56px;
        height: 56px;
        text-align: center;
        line-height: 56px;
        border-radius: 50%;
        max-width: 56px;
      }
    .cat-caption{  
        border-left: 1px solid var(--ot-primary-title);
        padding-left: 20px;
      
        .title{
            font-size: 18px;
            font-weight: 600;
            text-transform: capitalize;
            margin-bottom: 6px;
            @media #{$xs}{
                font-size: 18px;
            }
        }
        .pear{
            font-size: 16px;
            margin: 0;
            line-height: 1.2;
        }
    }
    &:hover{
        background: var(--white);
        -webkit-box-shadow: 0 3px 10px rgba(35,47,85,0.1);
        cursor: pointer;
    }
}

