.single-counter{
    @include transition(.3s);
    @media #{$xs}{
        @include flex-wrap(wrap);
    } 
    .icon{
        transition: .4s;
        min-width: 78px;
        height: 78px;
        text-align: center;
        line-height: 78px;
        border-radius: 12px;
        max-width: 78px;
      }
    .cat-caption{  

        .title{
            font-size: 48px;
            text-transform: capitalize;
            font-family: var(--Nunito);
            @media #{$lg}{
                font-size: 30px;
            }
            @media #{$sm}{
                font-size: 30px;
            }
            @media #{$xs}{
                font-size: 35px;
            }
        }
        .pear{
            font-size: 20px;
            margin: 0;
            line-height: 1.2;
            @media #{$sm}{
                font-size: 15px;
            }
            @media #{$lg}{
                font-size: 15px;
            }
            @media #{$xs}{
                font-size: 15px;
            }
        }
    }
}



// counter card color & background Make

.counter-color-one{
    .icon{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,ffd3ca+0,ffded7+100,ffded7+100&0+0,1+100 */
    background: -moz-linear-gradient(top,  rgba(255,211,202,0) 0%, rgba(255,222,215,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,211,202,0) 0%,rgba(255,222,215,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,211,202,0) 0%,rgba(255,222,215,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffd3ca', endColorstr='#ffded7',GradientType=0 ); /* IE6-9 */

    }
}
.counter-color-two{
    .icon{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,c5e3ff+0,ffded7+100,c5e3ff+100&0+0,1+100 */
        background: -moz-linear-gradient(top,  rgba(197,227,255,0) 0%, rgba(197,227,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(197,227,255,0) 0%,rgba(197,227,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(197,227,255,0) 0%,rgba(197,227,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c5e3ff', endColorstr='#c5e3ff',GradientType=0 ); /* IE6-9 */

    }
}
.counter-color-three{
    .icon{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,ebffed+0,ffded7+100,b5ffc1+100&0+0,1+100 */
        background: -moz-linear-gradient(top,  rgba(235,255,237,0) 0%, rgba(181,255,193,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(235,255,237,0) 0%,rgba(181,255,193,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(235,255,237,0) 0%,rgba(181,255,193,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ebffed', endColorstr='#b5ffc1',GradientType=0 ); /* IE6-9 */

    }
}
.counter-color-four{
    .icon{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,ffffff+0,ffded7+100,feffd8+100&0+0,1+100 */
        background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(254,255,216,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(254,255,216,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(254,255,216,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#feffd8',GradientType=0 ); /* IE6-9 */

    }
}
.counter-color-five{
    .icon{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,ff7f00+0,fa3b3b+99,e89d2c+100,fa3b3b+100 */
        background: rgb(30,87,153); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(255,127,0,1) 0%, rgba(250,59,59,1) 99%, rgba(232,157,44,1) 100%, rgba(250,59,59,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(255,127,0,1) 0%,rgba(250,59,59,1) 99%,rgba(232,157,44,1) 100%,rgba(250,59,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(255,127,0,1) 0%,rgba(250,59,59,1) 99%,rgba(232,157,44,1) 100%,rgba(250,59,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#fa3b3b',GradientType=0 ); /* IE6-9 */

    }
}
.counter-color-six{
    .icon{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,ff7f00+0,fa3b3b+99,e89d2c+100,fa3b3b+100 */
        background: rgb(30,87,153); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(255,127,0,1) 0%, rgba(250,59,59,1) 99%, rgba(232,157,44,1) 100%, rgba(250,59,59,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(255,127,0,1) 0%,rgba(250,59,59,1) 99%,rgba(232,157,44,1) 100%,rgba(250,59,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(255,127,0,1) 0%,rgba(250,59,59,1) 99%,rgba(232,157,44,1) 100%,rgba(250,59,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#fa3b3b',GradientType=0 ); /* IE6-9 */

    }
}
.counter-color-seven{
    .icon{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,acaaff+0,6461fb+99,6461fb+100,fa3b3b+100,6461fb+100 */
        background: rgb(30,87,153); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(172,170,255,1) 0%, rgba(100,97,251,1) 99%, rgba(100,97,251,1) 100%, rgba(250,59,59,1) 100%, rgba(100,97,251,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(172,170,255,1) 0%,rgba(100,97,251,1) 99%,rgba(100,97,251,1) 100%,rgba(250,59,59,1) 100%,rgba(100,97,251,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(172,170,255,1) 0%,rgba(100,97,251,1) 99%,rgba(100,97,251,1) 100%,rgba(250,59,59,1) 100%,rgba(100,97,251,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#6461fb',GradientType=0 ); /* IE6-9 */

    }
}
// End-fo color make

// Child wise color call
.counter-area{
    .col-xl-3:nth-child(1) .single-counter{
        @extend .counter-color-one;
    }
    .col-xl-3:nth-child(2) .single-counter{
        @extend .counter-color-two;
    }
    .col-xl-3:nth-child(3) .single-counter{
        @extend .counter-color-three;
    }
    .col-xl-3:nth-child(4) .single-counter{
        @extend .counter-color-four;
    }
    .col-xl-3:nth-child(5) .single-counter{
        @extend .counter-color-five;
    }
    .col-xl-3:nth-child(6) .single-counter{
        @extend .counter-color-two;
    }
    .col-xl-3:nth-child(7) .single-counter{
        @extend .counter-color-five;
    }
    .col-xl-3:nth-child(8) .single-counter{
        @extend .counter-color-one;
    }
    .col-xl-3:nth-child(9) .single-counter{
        @extend .counter-color-three;
    }
}
