.details-single-product{

    @media #{$xs}{
        padding: 20px 20px;
    } 
    .icon{
        transition: .4s;
        min-width: 56px;
        height: 56px;
        text-align: center;
        line-height: 56px;
        border-radius: 50%;
        max-width: 56px;

        background: rgb(255, 191, 30);
        background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 191, 30)), color-stop(100%, rgb(255, 145, 56)), to(rgb(41, 137, 216)));
        background: linear-gradient(to bottom, rgb(255, 191, 30) 0%, rgb(255, 145, 56) 100%, rgb(41, 137, 216) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ffbf1e", endColorstr="#2989d8",GradientType=0 );

    }
    .cat-caption{  
        padding-left: 20px;
        .title{
            font-size: 18px;
            font-weight: 600;
            text-transform: capitalize;
            margin-bottom: 6px;
            @media #{$xs}{
                font-size: 18px;
            }
        }
        .pear{
            font-size: 16px;
            margin: 0;
            line-height: 1.2;
        }
    }
}
.icon-wrapper {
	background: #F6F6F6;
	border-radius: 10px;
	min-width: 110px;
	height: 110px;
	text-align: center;
	line-height: 110px;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	align-items: center;
}
.details-rating i{
    color: #F7930C;
    font-size: 16px;
}


// slick dot style
.features-dot-style {

    .slick-dots {
        text-align: center;
        left: 0;
        right: 0;
        position: absolute;
        bottom: 0px;
        li {
            display: inline-block;
            margin: 0 4px;
            
        }
        button {
            position: relative;
            text-indent: -100000px;
            height: 6px;
            width: 15px;
            border: 0;
            padding: 0;
            cursor: pointer;
            border-radius: 20px;
            background:#fff ;
            border: 1px solid var(--ot-primary);
        }
        .slick-active button{
            background: var(--ot-primary);
            position: relative;
            @include transition(.4s);
        }
    }
}


.comments-selects .sort-by {
	display: block;
	min-width: 65px;
}




// course-tab-widget_REVIEW 
.author-reply{
    padding: 24px 0;
    &:not(:last-child){
        border-bottom: 1px solid var(--ot-secondary-border);
    }
    .review-widget-header-author{
        grid-gap: 20px;
        display: flex;
        align-items: start !important;
    }
    &-header{
        display: flex;
        align-items: flex-start;
        margin-bottom: 17px;
        @media #{$xs-to-sm-max} {
            flex-wrap: wrap;
        }
        &-author{
            &-thumb{
                max-width: 30px;
                border-radius: 50%;
                min-width: 30px;
                height: 53px;
                img{
                    border-radius: 50%;
                }
            }
            &-name{
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: var(--ot-primary-title);
                position: relative;
                // padding-bottom: 8px;
                margin-bottom: 8px;
                // &::before{
                //     content: "";
                //     position: absolute;
                //     left: 0;
                //     bottom: 0;
                //     width: 144px;
                //     background: var(--ot-primary-border);
                //     height: 1px;
                // }
            }
            .rating-star{
                grid-gap: 5px;
                i{
                    color: #FA9405;
                    font-size: 15px;
                }
            }
        }
        &-action{
            @media  #{$xs-to-sm-max} {
                justify-content: space-between;
                flex: 1;
            }
            p{
                font-weight: 600;
                font-size: 14px;
            }
        }
    }
    &-description{
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
    }
}