
.single-technology{
    @include transition(.4s);
    background: var(--white);
    border-radius: 13.3362px;
    padding: 18px 22px;
    text-align: center;
    min-height: 81px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.01) 0px 8px 32px;
    cursor: pointer;
    img{
        max-width: 80%;
    }
    &:hover{
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -25px;
    }
}