@import url('https://fonts.maateen.me/solaiman-lipi/font.css');

body {
    font-size: 0.688rem;
}

.gry-color *,
.gry-color {
    color: #878f9c;
}

table {
    width: 100%;
}

table th {
    font-weight: normal;
}

table td {
    font-family: 'SolaimanLipi', sans-serif !important;
}

table.padding th {
    padding: .25rem .7rem;
}

table.padding td {
    padding: .25rem .7rem;
}

table.sm-padding td {
    padding: .1rem .7rem;
}

.border-bottom td,
.border-bottom th {
    border-bottom: 1px solid #eceff4;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.positionRelative {
    position: relative
}

.strong {
    font-size: 1rem;
}

.invoice-text {
    font-size: 1.5rem;
}

.full-logo.dark_logo {
    position: absolute;
    right: 0
}
.width40{
    width: 40%;
}
.gry-color{
    background: #eceff4;
}
.margin4rem{
    margin-top: 4rem;
}
.marginLeftAuto{
    margin-left:auto
}
.margin-top-10{
    margin-top: 10px;
}
