* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: #f4f4f5;
}

.logo {
    width: 65px
}

.lock_sreen_warraper {
    widows: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lock_screen_box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.lock_screen_box_heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}   

.lock_screen_box_title {
    font-size: .9rem;
}

.lock_screen_box_input {
    width: 350px;
    height: 40px;
    border: 2px solid #dfdfdf;
    outline: 0;
    padding-left: 30px;
    border-radius: 8px;
}

.lock_screen_box_input:focus {
    border: 2px solid #000000;
    transition: 3ms;
}

.lock_screen_box_form {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0;
}

.lock_screen_box_avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-right: -25px;
    z-index: 999;
}

button {
    position: absolute;
    top: 16px;
    right: 4px;
    border: 0;
    height: 32px;
    width: 32px;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px
}

button:hover {
    background: #000000;
    color: #ffffff;
}

.arrow_icon {
    width: 100%;
    height: 100%;
}