body{
    background: aliceblue;
}
#invoice {
    height: auto;
    width: 210mm;
    margin-bottom: 70px;
    margin-top: 20px;
}

#invoice .company-logo {
    height: 60px;
}

#invoice .company-logo img {
    height: 100%;
    object-fit: contain;
}

#invoice table tr td {
    vertical-align: middle;
}

#invoice table.estimate {
    width: 40%;
    float: right;
}
.text-color{
    color: #087c7c;
}
.ot-btn-primary{
    background: #087c7c;
    color: #ffffff !important;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    font-family: "Lexend", sans-serif;
    line-height: 20px;
    padding: 10px 24px;
    list-style: none;
    outline: 0;
}
.action-button {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #373f3c;
    z-index: 1;
    text-align: center;
    padding: 8px 0;
}
@media print {
    .hide-form-print {
        display: none;
    }
    #invoice {
        margin:0;
    }
}
