.hero-caption{
    .short-dec{
        font-size: 28px;
        margin-bottom: 18px;
        display: block;
        @media #{$xs}{
            font-size: 22px;
        }
    }
    .title{
        display: block;
        font-size: 50px;
        line-height: 1.4;
        margin-bottom: 18px;
        @media #{$lg}{
            font-size: 31px;
        }
        @media #{$md}{
            font-size: 40px;
        }
        @media #{$sm}{
            font-size: 45px;
        }
        @media #{$xs}{
            font-size: 28px;
        }
    }
    .pera{
        font-size: 20px;
        display: block;
        margin-bottom: 39px;
        color: var(--ot-primary-paragraph);

        @media #{$lg}{
            font-size: 18px;
        }
        @media #{$xs}{
            font-size: 16px;
        }
    }
}
.hero-bg-color{
  background-color:#087c7c1f;
}
.slider-img-bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
  background-color:transparent;
}



.title-border{
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--ot-primary);
    bottom: -5px;
    z-index: 1;
  }
}

.title-shape-arrow{
    position: relative;
    &:before {
        background-image: url(.././images/icon/arrow.png);
        position: absolute;
        width: 86px;
        content: " ";
        left: -110px;
        top: 7px;
        height: 113px;
        @extend .routedTwo;
        @media #{$xs-to-xl-max}{
          display:none;
        }
    }
}

.title-shape-star{
    position: relative;
    &::after {
      background-image: url(.././images/hero/hero-star-shape2.png);
      position: absolute;
      width: 47px;
      content: " ";
      right: 40%;
      top: -34%;
      height: 47px;
        @extend .running;
    }
}

.hero-padding{
    padding: 120px 0;
    @media #{$lg}{
      
    }
    @media #{$md}{
      padding: 80px 0;
    }
    @media #{$sm}{
      padding: 80px 0;
    }
    @media #{$xs}{
      padding: 80px 0;
    }
}

.line-brack{
    display: block;
}

.mx-width-600 {
	max-width: 600px;
	display: block;
	margin: auto;
}
.mx-width-780 {
	max-width: 780px;
	display: block;
}

.hero-overlay{
    position: relative;
    z-index: 0;
    &::before{
        position: absolute;
        content: "";
        background-color: rgba(12, 12, 12, 0.4);  
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-repeat: no-repeat;
    }
}


.slider-height{
    height: 600px;
}


// hero card
.hero-card{
    box-shadow: 0px 32px 16px 0px rgba(0, 0, 0, 0.04);
    padding: 5px 19px;
    padding-left: 19px;
    border-radius: 30px;
    background: var(--white);
    display: inline-block;
    padding-left: 9px;
    .hero-card-wrap{
        @include flexbox();
        @include align-items(center);
        @include transition(.4s);
        @media #{$xs-to-md-max}{
            @include flex-wrap(wrap);
        }
    }
    .user-img{
        margin-right: 9px;
        width: 36px;
        height: 36px;
        overflow: hidden;
        @media #{$xs}{
            margin-bottom:15px;
        }
    }
    .user-cap{
        .title {
            margin-bottom: 0px;
            line-height: 1.5;
            font-size: 17px;
            display: block;
            color: var(--ot-primary);
            font-weight: 700;
            .icon{
                margin-left: 6px;
            }
            &:hover{
                color: var(--ot-primary);
            }
        }
        .pera{
            font-size: 15px;
            margin-bottom: 0px;
        }
    }
}

// Hero slider card
.hero-image {
    .shapeHero {
        position: absolute;
        z-index: 1;
        @media #{$xs-to-md-max}{
            display: none;
        }
        & > img {
            width: auto;
            display: unset;
        }
        &.shapeHero1 {
            left: -48px;
            bottom: 100px;
            z-index: 1;
        }
        &.shapeHero2 {
            left: 0;
            top: 7%;
            z-index: 1;
        }
        &.shapeHero3 {
            right: -15px;
            top: 9%;
            z-index: 1;
        }
        // Star Shape
        &.star-shape{
          position: absolute;
          top: -16%;
          z-index: 1;
          left: 0;
          right: 0;
          text-align: center;
        }
    }
}

.hero-image .shapeHero.innerShape1 {
    left: 50px;
    top: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: -1;
  }
  @media only screen and (min-width: 1200px) and (max-width: 1399.99px) {
    .hero-image .shapeHero.innerShape1 {
      top: 40%;
      width: 16%;
      left: 20px;
    }
  }
  @media (min-width: 1400px) and (max-width: 1599.99px) {
    .hero-image .shapeHero.innerShape1 {
      top: 40%;
      width: 17%;
      left: 20px;
    }
  }
  @media only screen and (min-width: 1600px) and (max-width: 1799.99px) {
    .hero-image .shapeHero.innerShape1 {
      width: 20%;
      left: 20px;
    }
  }
  @media only screen and (min-width: 1800px) and (max-width: 1999.99px) {
    .hero-image .shapeHero.innerShape1 {
      width: 20%;
      left: 20px;
    }
  }
  @media (max-width: 1199px) {
    .hero-image .shapeHero.innerShape1 {
      display: none;
    }
  }
  .hero-image .shapeHero.innerShape2 {
    right: 50px;
    top: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: -1;
  }
  @media only screen and (min-width: 1200px) and (max-width: 1399.99px) {
    .hero-image .shapeHero.innerShape2 {
      top: 40%;
      width: 16%;
      right: 20px;
    }
  }
  @media (min-width: 1400px) and (max-width: 1599.99px) {
    .hero-image .shapeHero.innerShape2 {
      top: 40%;
      width: 17%;
      right: 20px;
    }
  }
  @media only screen and (min-width: 1600px) and (max-width: 1799.99px) {
    .hero-image .shapeHero.innerShape2 {
      width: 20%;
      right: 20px;
    }
  }
  @media only screen and (min-width: 1800px) and (max-width: 1999.99px) {
    .hero-image .shapeHero.innerShape2 {
      width: 20%;
      right: 20px;
    }
  }
  @media (max-width: 1199px) {
    .hero-image .shapeHero.innerShape2 {
      display: none;
    }
  }

  .leaf-shape{
    position: absolute;
    bottom: 10%;
    left: -9%;
    z-index: 0;
    @media #{$xs-to-md-max}{
      display: none;
    }
  }



.hero-form-area {
  margin-bottom: -72px;

  .ot-login-card {
    padding: 30px 30px;
    background: var(--white);
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.07);
    border-radius: 12px;
    @media #{ $xs}{
        padding: 30px;
     }
    img {
      margin: auto;
      display: block;
    }
    .title {
        padding-top: 60px;
        padding-bottom: 40px;
        h4 {
            text-transform: capitalize;
            font-size: 24px;
            line-height: 29px;
            color: var(--ot-primary-title);
            text-align: center;
        }
    }
    .remember-me {
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
      label {
          display: flex;
          align-items: center;
          padding-left: 25px;
          position: relative;
          cursor: pointer;
          small {
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
              color: var(--ot-primary-title);
              margin-left: 8px;
          }
      }
      .ot-checkbox {
          margin-right: 10px;
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
          &:checked ~ .ot-checkmark {
              background-color: var(--ot-primary);
              border-color: var(--ot-primary);
              &::after {
                display: block;
              }
          }
      }
      .ot-checkmark {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        line-height: 20px;
        border: 1.5px solid #b1b5c4;
        margin-right: 12px;
        border-radius: 50%;
        &::after {
          content: "\eb7b";
          font-family: var(--remix-icon);
          position: absolute;
          left: 0;
          top: -1px;
          color: #fff;
          display: none;
          right: 0;
          margin: 0 auto;
          text-align: center;
        }
      }
      .forget-section {
          span {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-align: right;
            letter-spacing: 0.5px;
            color: var(--ot-tertiary);
          }
      }
    }
      .login-footer {
          margin-top: 30px;
          .create-account {
          p {
              font-weight: 400;
              font-size: 16px;
              line-height: 20px;
              letter-spacing: 0.5px;
              color: var(--ot-primary-title);
              text-align: center;
              span {
                color: var(--ot-tertiary);
              }
          }
        }
        .sign-with {
          margin-top: 30px;
          p {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: var(--ot-primary);
          }
          .icon-login-section{
              display: flex;
              justify-content: center;
              gap: 30px;
              margin-top: 30px;
              @media #{ $xs}{
                 gap: 20px;
              }

              .icon-login{
                  a{
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    border: 1px solid var(--ot-primary-border);
                    border-radius: 50%;
                    text-align: center;
                    display: inline-block;
                    font-size: 18px;
                    color: var(--ot-primary-paragraph);
                    font-size: 18px;
                    @media #{$xs}{
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        font-size: 15px;
                    }
                    &:hover{
                        background: var(--ot-primary);
                        border: 1px solid transparent;
                        color: #fff;
                    }
                  }
              }
          }
        }
    }
  }
  .terms-condition{
      span{
          color: var(--ot-tertiary);
      }
  }
  .login-image img{
      max-width: 100%;
      @media #{ $xs-to-md-max}{
          display: none;
      }
  }
}