
// 2. Product Categories Two
.product-categories-two{

    .singleCategory {
        transition: .4s;
        border: 1px solid var(--ot-primary-border);
        background: none;
        text-align: center;
        display: block;
        padding: 30px 20px;
        border-radius: 10px;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        .icon {
            transition:.3s;
            position: relative;
            top: 0;
            font-size: 35px;
            color: var(--ot-primary);
        }
        .catContent {
            .title {
                transition: .4s;
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 7px;
                display: block;
                @include responsive(xxs) {
                    font-size: 22px;
                }
            }
            .para {
                font-size: 13px;
                color: var(--ot-primary-paragraph);
            }
        }
        &:hover{
            border-color: var(--ot-primary);
            .catContent {
                .title {
                    color: var(--ot-primary);
                }
            }
            .icon {
                top: -5px;
                color: var(--ot-primary);
            }
        }
    }
}


.app-cat {
	padding: 39px 37px;
	background-image: url("../../assets/images/gallery/o_land_cta_banner.jpg ");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.app-cat .cat-text span {
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	display: block;
}
.app-cat .cat-text h4 {
	font-size: 34px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	margin: 15px 0 16px 0;
}
.app-cat .cat-text h5 {
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}